ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.basic-grid {
    background-color: black;
}

.basic-row {
    background-color: gray;
    --ion-grid-padding: 5;
}

.basic-column {
    background-color: purple;
}

.basic-column2 {
    background-color: red;
}

.basic-column3 {
    background-color: green;
}

.basic-column4 {
    background-color: pink;
}

span {
    color: black;
}

p {
    color: white;
}