<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <p>This is just an example of a simple about page and routing</p>
  <p>Below is an example of Ionic 4 responsive grid, turn your phone to landscape, or change your browser size for some cool tricks!</p>
</div>
<ion-grid class="basic-grid ion-padding">
  <ion-row class="basic-row ion-padding">
    <ion-col class="basic-column ion-padding" size-xs="12" size-sm="6" size-m="4" size-l="4" size-xl="3">
      column 1
    </ion-col>
    <ion-col class="basic-column2 ion-padding" size-xs="12" size-sm="6" size-m="4" size-l="4" size-xl="3">
      column 2
    </ion-col>
    <ion-col class="basic-column3 ion-padding" size-xs="12" size-sm="6" size-m="4" size-l="4" size-xl="3">
      column 3
    </ion-col>
    <ion-col class="basic-column4 ion-padding" size-xs="12" size-sm="6" size-m="4" size-l="4" size-xl="3">
      column 4
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button [routerLink]="['/home']" routerDirecrion="backwards">Home</ion-button>
<ion-button [routerLink]="['/inputs']" routerDirection="forwards">Go to Inputs/Outputs example</ion-button>
</ion-content>
