<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Points of Interest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="tertiary">
    <ion-grid>
  <ion-row>
    <ion-col size="6" class="ion-padding-top ion-text-start">
      <ion-title color="dark">Google Map</ion-title>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <ion-button (click)="this.getCurrentLocation()" fill="outline">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
      <ion-button (click)="this.findPlaces()" fill="outline">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-searchbar enterkeyhint="search" (ionInput)="this.mapService.getSearchTerm($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
  </ion-grid>
  <div #map id="map"></div>
</ion-card>

</ion-content>
