<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons [slot]="buttonPlacement">
      <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Points of Interest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="tertiary">
    <ion-grid>
  <ion-row>
    <ion-col size="6" class="ion-padding-top ion-text-start">
      <ion-title color="dark">Google Map</ion-title>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <ion-button (click)="this.getCurrentLocation()" fill="clear">
        <img src="../../assets/Maps_Pin.png" style="width: auto ; height : 100%">
        <!-- <ion-icon slot="icon-only" name="locate"></ion-icon> -->
      </ion-button>
      <!-- <ion-button (click)="this.onFindPlaces()" fill="clear">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="this.onFindPlaces()" fill="clear">
            <ion-icon slot="icon-only" name="search" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-searchbar 
          search-icon="logo-google" 
          inputmode="search" 
          enterkeyhint="search"
          (keyup.enter)="this.onFindPlaces()"
          (ionInput)="this.mapService.getSearchTerm($event)">
        </ion-searchbar>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  </ion-grid>
  <div #map id="map"></div>
</ion-card>

</ion-content>
