img {
    width: 100%;
    height: auto;
}

ion-content{
    --background: url('../../assets/abstract-white-triangle-shapes-background_1035-17544.jpg') no-repeat center center / cover;
}

#delete-btn {
    position: absolute;
    right: -5px;
    top: -1px;
}