<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Log In to my Blank App</p>
  </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="this.authGuard.authInfo.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="this.authGuard.authInfo.password" type="password"></ion-input>
        </ion-item>
    <ion-button (click)="login(this.authGuard.authInfo)">Login</ion-button>
    <ion-button (click)="loginHTTP(this.authGuard.authInfo)">Advanced Login</ion-button>
    <div>Don't have an account?
      <ion-button routerLink='/register' routerDirection="forward">Make an account</ion-button>
    </div>
    <p *ngIf="mustLogIn === true">Please log in to proceed, p.s. because I have a guarded route!</p>
</ion-content>
