  <!-- Tabs -->
  <ion-tabs>
    <ion-tab-bar id="tabs" translucent="true" slot="bottom">
      <ion-tab-button tab="ionic-speaking">
        <ion-icon name="volume-high"></ion-icon>
        <ion-label>TTS</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="photo-gallery">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Photo</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="points-of-interest">
        <ion-icon name="pin"></ion-icon>
        <ion-label>POI</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
