<ion-header>
  <ion-toolbar>
      <ion-buttons [slot]="buttonPlacement">
          <ion-menu-button autoHide=false></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My Ionic 4 Demo App
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="../../assets/SoftStack_passion.jfif">
    <ion-card-header *ngIf="this.authGuard.userInfo" color="tertiary">
      <ion-card-title><span>Welcome, {{this.authGuard.userInfo.firstName}}!</span></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="tertiary">
    <img src="../../assets/ionic4_angular.jpg">
    <ion-card-header>
      <ion-card-title><span>Ionic 4 + Angular</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <span>Using Ionic 4 and Angular Frameworks, I have created a Demo Application that explores all the content of SoftStack Factory's Ionic 4 Hybrid Mobile web developement course</span>
    </ion-card-content>
  </ion-card>
  <ion-card color="tertiary">
    <img src='../../assets/Hybrid_dev.jpg'>
    <ion-card-header>
      <ion-card-title><span>Hybrid Platform Features</span></ion-card-title>
    </ion-card-header>
    <ion-card-content class="noPadding">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Responsive Design</h2>
            <p>Ionic grid and media queries</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Responsive Components</h2>
            <p>Event emitter with @input and @output</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>App Features</h2>
            <p>Ionic Text to Speech</p>
            <p>Photo Gallery with Ionic Storage</p>
            <p>Points of Interest with Google Maps</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>User Features</h2>
            <p>User Register, Login and Logout with MongoDB</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card color="tertiary">
    <img src="../../assets/routing-02.png">
    <ion-card-header>
      <ion-card-title><span>Features</span></ion-card-title>
    </ion-card-header>
  <ion-card-content class="noPadding">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Authorization Guards</h2>
          <p>The routes are guarded by authorization</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Basic Angular routing</h2>
          <p>Angular built in router and router link</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Sidemenu</h2>
          <p>Ionic 4's sidemenu for navigation</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Tabs</h2>
          <p>Ionic 4's tabs for quick links to projects</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  <p class="center">If you want to know more <a routerLink='/about' (click)="myInfo()" routerDirection="forward">about this app</a> click me</p>
</ion-content>
