span {
    color: black;
}

ion-card-title {
    text-align: center;
}

ion-card-header {
    text-align: center;
}

.noPadding {
    padding: 0;
}

.center {
    text-align: center;
}

ion-list {
    padding-top: 0;
    padding-bottom: 0;
}
