span {
    color: black;
}

ion-card-title {
    text-align: center;
}

ion-card-header {
    text-align: center;
}

p {
    text-align: center;
}

.arrowImage {
    max-height: 40px;
    margin-left: 10px;
}

ion-list {
    padding-top: 0;
    padding-bottom: 0;
}
