<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide=false></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My Ionic Blank learning App
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p *ngIf="this.authGuard.userInfo">Welcome, {{this.authGuard.userInfo.name}}!</p>
    <p>This is a blank app, learning router basics with Ionic 4</p>
  </div>
  <ion-button routerLink='/about' (click)="myInfo()" routerDirection="forward">about</ion-button>
</ion-content>
