span {
    color: black;
}

ion-card-title {
    text-align: center;
}

ion-card-header {
    text-align: center;
}

.noPadding {
    padding: 0;
}

.center {
    text-align: center;
}

#bottom-p {
    margin-bottom: 15%;
}

ion-list {
    padding-top: 0;
    padding-bottom: 0;
}

img {
    width: 100%;
    height: auto;
}

ion-card {
    --background: rgba(255,255,255,0.5);
}

ion-content{
    --background: url('../../assets/abstract-white-triangle-shapes-background_1035-17544.jpg') no-repeat center center / cover;
}

@media screen and (min-width: 900px) {
    ion-card {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}
