<ion-header>
  <ion-toolbar color="primary" mode="ios">
      <ion-buttons [slot]="buttonPlacement">
          <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
      <ion-card color="tertiary">
        <img src="../../assets/ionic-framework-update.jpg">
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="this.authGuard.authInfo.firstName" name="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="this.authGuard.authInfo.lastName" name="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="this.authGuard.authInfo.email" name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="this.authGuard.authInfo.password" type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-button (click)="register(this.authGuard.authInfo)" fill="outline" slot="end">Register</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
        <p>
          Already have an account?
          <a routerLink='/login' routerDirection="forward">Go To Login</a>
        </p>
        <p *ngIf="mustRegister === true">Please register to proceed, p.s. because I have a guarded route!</p>
</ion-content>
