<ion-header>
  <ion-toolbar color="primary" mode="ios">
      <ion-buttons [slot]="buttonPlacement">
          <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card color="tertiary">
        <img src="../../assets/ionic_5.jpeg">
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input 
              [(ngModel)]="this.authGuard.authInfo.firstName" 
              name="firstName"
              clearInput="true"
              enterkeyhint="next"
              inputmode="text"
              (keyup.enter)="moveFocus(b)">
          </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input 
              [(ngModel)]="this.authGuard.authInfo.lastName"
              name="lastName"
              clearInput="true"
              #b
              enterkeyhint="next"
              inputmode="text"
              (keyup.enter)="moveFocus(c)">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input 
              [(ngModel)]="this.authGuard.authInfo.email" 
              name="email"
              clearInput="true"
              #c
              enterkeyhint="next"
              inputmode="email"
              (keyup.enter)="moveFocus(d)">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input 
                [(ngModel)]="this.authGuard.authInfo.password" 
                type="password"
                clearInput="true"
                #d
                enterkeyhint="go"
                (keyup.enter)="register(this.authGuard.authInfo)">
              </ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-button (click)="register(this.authGuard.authInfo)" fill="outline" slot="end">Register</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
        <p id="bottom-p">
          Already have an account?
          <a routerLink='/login' routerDirection="forward">Go To Login</a>
        </p>
</ion-content>
