<ion-header>
  <ion-toolbar color="primary" mode="ios">
      <ion-buttons [slot]="buttonPlacement">
          <ion-menu-button autoHide=false menuId="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>Inputs/Outputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="tertiary">
    <img src="../../assets/Angular_inputs_3.png">
    <ion-card-header>
      <ion-card-title>
        <span>Advanced Angular Concepts</span><br>
        <span>@Input & @Output</span>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header color="tertiary">
      <ion-card-subtitle><span>Light Blue = part of input child component</span></ion-card-subtitle>
      <ion-card-subtitle><span>Dark Blue = part of value on parent component</span></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="primary">
      <app-input [examples]="myExample" [count]="myCount" (change)="countChange($event)"></app-input>
    </ion-card-content>
  </ion-card>
  <p>
      <a [routerLink]="['/about']" routerDirecrion="backwards">Back to Grid</a>
  </p>
</ion-content>
